[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
alive-progress = "*"

[packages]
aiofiles = "==0.5.0"
boto3 = "==1.13.3"
botocore = "==1.16.3"
cachetools = "==4.1.0"
certifi = "==2020.4.5.1"
cffi = "==1.14.0"
chardet = "==3.0.4"
click = "==7.1.1"
cryptography = "==2.9.2"
docutils = "==0.15.2"
google-auth = "==1.14.1"
google-auth-oauthlib = "==0.4.1"
gspread = "==3.5.0"
h11 = "==0.9.0"
httplib2 = "==0.17.3"
httptools = "==0.1.1"
idna = "==2.9"
jdcal = "==1.4.1"
jmespath = "==0.9.5"
numpy = "==1.18.3"
oauth2client = "==4.1.3"
oauthlib = "==3.1.0"
openpyxl = "==3.0.3"
pandas = "==1.0.3"
pony = "==0.7.13"
psycopg2-binary = "==2.8.5"
pyasn1 = "==0.4.8"
pyasn1-modules = "==0.2.8"
pycparser = "==2.20"
pydantic = "==1.5.1"
python-dateutil = "==2.8.1"
pytz = "==2019.3"
requests = "==2.23.0"
requests-oauthlib = "==1.3.0"
rsa = "==4.0"
s3transfer = "==0.3.3"
six = "==1.14.0"
typing = "==3.7.4.1"
urllib3 = "==1.25.9"
uvicorn = "==0.11.3"
uvloop = "==0.14.0"
websockets = "==8.1"
et_xmlfile = "==1.0.1"
pyOpenSSL = "==19.1.0"
XlsxWriter = "==1.2.8"
airtable-python-wrapper = "==0.13.0"
gunicorn = "==20.0.4"
fuzzywuzzy = {extras = ["speedup"],version = "*"}
rapidfuzz = "*"
fastapi = "*"
mypyls = {extras = ["default-mypy"], file = "https://github.com/matangover/mypyls/archive/master.zip"}

[requires]
python_version = "3.7"
