files:
  "/etc/nginx/conf.d/01-timeout.conf":
     mode: ""
     owner: root
     group: root
     content: |
       keepalive_timeout 60s;
       proxy_connect_timeout 60s;
       proxy_send_timeout 60s;
       proxy_read_timeout 60s;
       fastcgi_send_timeout 60s;
       fastcgi_read_timeout 60s;
container_commands:
  nginx_reload:
     command: "sudo service nginx reload"
